$white:#FFFFFF;
$tabla1:#DEB2B3;
$tabla2:#D77D7F;

$background:#FBF9F9;
$drakgray:#D1D1D6;
$cell:#F2F2F2;
$total:#E6E6E6;

$boton:#D94043;
$botonHover:#D77D7F;
$botonPresion: #C6171A;
$botonInactivo: #CCCCCC;

$insertar:#DEB2B3;
$insertarHover:#EBD7D8;
$insertarPresion:#D77D7F;
$conArchivo: #B3B3B3;

$bright: #DC290E;
$heavy:#C1240C;
$red: #D94043;
$text:#667080;
$bold:#4D4D4D;
$oscuro:#891012;